
<div class="wrapper">
  <header><h1>Evidencia očkovanosti</h1>
  <button (click)="chodSpat()">Späť</button></header>


  <app-vakcina-formular [vakcina]="vakcinaNaUpravu"
                      (pridajVakcinu)="pridaj($event)"
                      (upravVakcinu)="uprav($event)">
  </app-vakcina-formular>

  <app-vakcina-zoznam [vakciny]="vakciny"
                    (upravVakcinu)="upravZoZoznamu($event)"
                    (vymazVakcinu)="zmazZoZoznamu($event)">
  </app-vakcina-zoznam>

</div>

