<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>

<div class='dashboard-app'>
  <div class='dashboard-nav'>
    <app-menu></app-menu>
  </div>
  <div class='dashboard-content'>
    <div class='container'>
      <div class='card'>
        <div class='card-header'>
          <i class="bi bi-eyedropper"></i><h1>Evidencia očkovania</h1>
          <button class="spat"(click)="chodSpat()"><i class="bi bi-house-fill"></i>Späť</button>
        </div>

        <div class='card-body'>

          <app-vakcina-formular [vakcina]="vakcinaNaUpravu"
                                (pridajVakcinu)="pridaj($event)"
                                (upravVakcinu)="uprav($event)">
          </app-vakcina-formular>

          <app-vakcina-zoznam [vakciny]="vakciny"
                              (upravVakcinu)="upravZoZoznamu($event)"
                              (vymazVakcinu)="zmazZoZoznamu($event)">
          </app-vakcina-zoznam>
        </div>
      </div>
    </div>
  </div>
</div>








