
<div class="wrapper">
  <section>
  <form [formGroup]="form">


    <p>Meno:</p><th><input formControlName="meno" placeholder="Meno"></th>
    <br>
    <p>Priezvisko:</p><th><input formControlName="priezvisko" placeholder="Priezvisko"></th>
    <br>
    <p>Rok narodenia:</p><th><input formControlName="rok_nar" placeholder="Rok narodenia"></th>
    <br>
    <p>Rodné číslo:</p><th><input formControlName="rod_cislo" placeholder="Rodné číslp"></th>
    <br>
    <p>Telefónne číslo:</p><th><input formControlName="tel_cislo" placeholder="Telefónne číslo"></th>
    <br>
    <p>Bydlisko:</p><th><input formControlName="bydlisko" placeholder="Bydlisko"></th>
    <br>
    <p>pohlavie:</p><th><input formControlName="pohlavie" placeholder="Pohlavie"></th>
    <br>

      <th>
        <button (click)="pridaj()" *ngIf="form.value.id === null">Pridaj</button><br>
        <button (click)="uprav()" *ngIf="form.value.id !== null">Uprav</button>
        <button (click)="zrus()">Vymaž</button>
      </th>


  </form>
  </section>
</div>

=======
<div class="block">
  <form [formGroup]="form">

    <label>Meno:
      <input formControlName="meno">
    </label>
    <br>

    <label>Priezvisko:
      <input formControlName="priezvisko">
    </label>
    <br>

    <label>Rok narodenia:
      <input formControlName="rok_nar">
    </label>
    <br>

    <label>Rodné číslo:
      <input formControlName="rod_cislo">
    </label>
    <br>
    <label>Telefónne číslo:
      <input formControlName="tel_cislo">
    </label>
    <br>

    <label>Bydlisko:
      <input formControlName="bydlisko">
    </label>
    <br>

    <label>Pohlavie:
      <input formControlName="pohlavie">
    </label>
    <br>

    <button (click)="pridaj()" *ngIf="form.value.id === null">Pridaj</button>
    <button (click)="uprav()" *ngIf="form.value.id !== null">Uprav</button>
    <button (click)="zrus()">Vymaž</button>

  </form>
</div>

