<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<div class="wrapper">
  <section>
  <form [formGroup]="form">

    <tr>
    <p>Meno:</p><th><input formControlName="meno" placeholder="Meno"></th>
    <p>Priezvisko:</p><th><input formControlName="priezvisko" placeholder="Priezvisko"></th>
    </tr>
    <tr>
    <p>Rok narodenia:</p><th><input formControlName="rok_nar" placeholder="Rok narodenia"></th>
    <p>Rodné číslo:</p><th><input formControlName="rod_cislo" placeholder="Rodné číslo"></th>
    </tr>
    <tr>
    <p>Telefónne číslo:</p><th><input formControlName="tel_cislo" placeholder="Telefónne číslo"></th>
    <p>Bydlisko:</p><th><input formControlName="bydlisko" placeholder="Bydlisko"></th>
    </tr>
    <tr>
    <p>Pohlavie:</p><th><input formControlName="pohlavie" placeholder="Pohlavie"></th>
      <th><button (click)="pridaj()" *ngIf="form.value.id === null"><i class="bi bi-check-circle-fill"></i>Pridaj</button>
      <button (click)="uprav()" *ngIf="form.value.id !== null"><i class="bi bi-arrow-clockwise"></i>Uprav</button>
      <button (click)="zrus()"><i class="bi bi-backspace-fill"></i>Vymaž</button></th>
    </tr>


  </form>
  </section>
</div>
