<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<section>

  <form [formGroup]="form">


    <table class="table">
      <td><p>Názov:</p></td>
      <td><p>Počet dávok:</p></td>
      <td><button (click)="uprav()" *ngIf="form.value.id !== null" ><i class="bi bi-arrow-clockwise"></i>Uprav</button></td>
      <tbody>

      <td><input formControlName="nazov" placeholder="Nazov"></td>
      <td><input formControlName="pocet_davok" placeholder="Počet dávok"></td>

      <td><button (click)="pridaj()" *ngIf="form.value.id === null"><i class="bi bi-check-circle-fill"></i>Pridaj</button>
      <button (click)="zrus()"><i class="bi bi-backspace-fill"></i>Vymaž</button></td>

      </tbody>
    </table>

  </form>

</section>
