<div class="block">
  <button (click)="openMenu(menu.OSOBA)">Osoba</button>
  <button (click)="openMenu(menu.VAKCINA)">Vakcína</button>
</div>
<div class="block">
  <div *ngIf="actualMenu==menu.OSOBA"><br>
    ID_osoba :<input [(ngModel)]="osoba.ID_osoba"><p></p>
    Meno :<input [(ngModel)]="osoba.meno"><p></p><p></p>
    Priezvisko : <input [(ngModel)]="osoba.priezvisko" ><p></p>
    Rok narodenia : <input [(ngModel)]="osoba.rok_narodenia" ><p></p>
    Rodné čislo : <input [(ngModel)]="osoba.rodne_cislo" ><p></p>
    Telefónne číslo : <input [(ngModel)]="osoba.telefonne_cislo" ><p></p>
    Bydlisko : <input [(ngModel)]="osoba.bydlisko" ><p></p>
    Pohlavie : <input [(ngModel)]="osoba.pohlavie" ><p></p>

    <button type="submit" [disabled]="
  !osoba.ID_osoba ||
  !osoba.meno ||
  !osoba.priezvisko ||
  !osoba.rok_narodenia ||
  !osoba.rodne_cislo||
  !osoba.telefonne_cislo ||
  !osoba.bydlisko||
  !osoba.pohlavie" (click)="pridaj()">Add</button><br><br>

    <p class="list">Zoznam:</p>
    <div *ngFor="let o of osoby">
      ID_osoba: <b>{{o.ID_osoba}}</b>;
      Meno: <b>{{o.meno}}</b>;
      Priezvisko: <b>{{o.priezvisko}}</b>;
      Rok narodenia: <b>{{o.rok_narodenia}}</b>;
      Rodné číslo: <b>{{o.rodne_cislo}}</b>;
      Telefónne číslo: <b>{{o.telefonne_cislo}}</b>;
      Bydlisko: <b>{{o.bydlisko}}</b>;
      Pohlavie: <b>{{o.pohlavie}}</b>
    </div>
  </div>
</div>

<div class="block">
  <div *ngIf="actualMenu==menu.VAKCINA"><br>
    Názov vakcíny: <input [(ngModel)]="vakcina.menoVakcina"><p></p>
    Počet dávok:<input [(ngModel)]="vakcina.davka"><p></p>
    Dátum: <input [(ngModel)]="vakcina.datum"><p></p> <!--TODO pridat date validate (kontrola koretnosti formatu datumu) -->
    Dostupnosť: <input [(ngModel)]="vakcina.dostupnost"><p></p>

    <button type="submit" [disabled]="
  !vakcina.menoVakcina ||
  !vakcina.davka ||
  !vakcina.datum ||
  !vakcina.dostupnost" (click)="pridaj()">Add</button><br><br>

    <p class="list">Zoznam:</p>
    <div *ngFor="let v of vakciny">
      Názov vakcíny: <b>{{v.menoVakcina}}</b>;
      Počet dávok: <b>{{v.davka}}</b>;
      Dátum: <b>{{v.datum}}</b>;
      Dostupnosť vakcíny: <b>{{v.dostupnost}}</b>
    </div>
  </div>
</div>





