<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<div class="wrapper">
  <section>
    <table class="table">

      <tr>
        <th>ID očkovanosti</th>
        <th>ID osoby</th>
        <th>ID vakcíny</th>
        <th>Platnosť OD</th>
      </tr>

      <tr *ngFor="let o of ockovania">
        <td>{{ o.id}}</td>
        <td>{{ o.osoba.id }}</td>
        <td>{{ o.vakcina.id }}</td>
        <td>{{ o.datum }}</td>
        <td>
          <button class="btn btn--action" (click)="uprav(o.id)"><span class="uprav">Uprav</span></button>
          <button class="btn btn--action" (click)="zmaz(o.id)"><span class="vymaz">Vymaž</span></button>
        </td>

    </table>
    <!--
    <mat-paginator [length]="100"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>-->
  </section>
</div>

