<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<div class="wrapper">
<section>
  <table class="table">
    <tr>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Rok narodenia</th>
      <th>Rodné číslo</th>
      <th>Telefónne číslo</th>
      <th>Bydlisko</th>
      <th>Pohlavie</th>
    </tr>
    <tbody>
    <tr *ngFor="let o of osoby">
      <td>{{ o.meno }}</td>
      <td>{{ o.priezvisko }}</td>
      <td>{{ o.rok_nar }}</td>
      <td>{{ o.rod_cislo }}</td>
      <td>{{ o.tel_cislo }}</td>
      <td>{{ o.bydlisko }}</td>
      <td>{{ o.pohlavie }}</td>
      <td>
        <button (click)="uprav(o.id)"><i class="bi bi-arrow-clockwise"></i>Uprav</button>
        <button (click)="zmaz(o.id)"><i class="bi bi-backspace-fill"></i>Vymaž</button>
      </td>
    </tr>
    </tbody>
  </table>

  <mat-paginator [length]="100"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</section>
</div>
