button{
  margin-right: 11%;
  background-color: darkgrey;
}
input{
  position: absolute;
  left: 150px;
  background-color: darkgrey;
}

button:hover{
  background-color:white;
}
input:hover{
  background-color:white;
}
p{
  color: darkgrey;
}
.block{
  width: 300px;
  border: 2px solid black;
  padding: 10px;
  padding-right: 50px;
  margin: 30px;
  background: gray;
}
.list{
  display: left; justify-content: center; color:black;
}
