/* Light mode

.light-mode {
  background-image: linear-gradient( 94.3deg, rgb(195, 159, 255) 10.9%, rgb(230, 209, 255) 87.1% );
  color: #000000;
}
*/

html {
  background-image: linear-gradient( 94.3deg, rgb(31, 20, 49) 10.9%, rgb(116, 101, 137) 87.1% );
}

body {

  background-image: linear-gradient( 94.3deg, rgb(31, 20, 49) 10.9%, rgb(116, 101, 137) 87.1% );

}
