/* TABULKY
 --------------------------------------------
*/
table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
td{
  border-bottom: #F5F5F5 1px solid;
  width: 150px;
  color: white;
}
th{
  width: 150px;
  color: white;
  -webkit-transition: color 2s;
  transition: color 2s;
}
th:hover {
  color: #D6C4EC;
}
/* TEXTY
 --------------------------------------------
*/
h1{
  text-align: center;
  color: navajowhite;
  display: inline;
  letter-spacing: 3px;
}

h1:hover {
  color: white;
}

p{
  text-align: left;
  color: white;
  display:inline;
  letter-spacing: 3px;
  margin-bottom: 10px;
  -webkit-transition: color 2s;
  transition: color 2s;
}

p:hover {
  color: white;
}

/* TLACIDLA
 --------------------------------------------
*/
button{
  display: block;
  font-weight: 700;
  font-size: 18px;
  width: 100px;
  padding: 5px;
  border-radius: 1.5rem;
  background-color: black;
  transition: all .5s ease 0s;
  box-shadow: 0 3px navajowhite;
  float: right;
}
button:hover{
  box-shadow: 0 3px white;

}
span{
  display: inline-block;
  color:navajowhite;
  position: relative;
  transition: all .5s ease;
}
span::before{
  font-family: "Font Awesome 5 Free";
  color: navajowhite;
  content: '\f015';
  font-weight: 900;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 1.5rem;
  opacity: 0;
  transition: all .1s ease 0s;
}

button:hover span{
  padding-left: 2rem;
}

button:hover span:before{
  left: 0;
  opacity: 1;
}

button:active {
  transform: translateY(5px);
}
/* LAYOUT
 --------------------------------------------
*/
.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  margin-top: 150px;
  width: 960px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-size: 35px;
}
nav {
  width: 960px;
  margin-right: 10px;
}

section {
  width: 960px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #D6C4EC;
  color: #FFF;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px;
}

header {
  padding: 20px 0;
}
/* VSTUP - INPUTY
 --------------------------------------------
*/

input{
  height: 30px;
  width: 300px;
  font-size: 25px;
  margin: 10px;
  text-align: center;
  background-color: white;
  border: navajowhite 2px groove;
  color: #1F1431;
  margin-block: 50px;
  box-sizing: border-box;
}


input:hover{
  background-color: white;
}

/*  MENU
------------------------------------------------
 */

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #443ea2;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #353084;
  border-bottom: 1px solid black;
  text-align: center;
}

.dashboard-app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-top: 84px;
}

.dashboard-content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding: 25px;
}

.dashboard-nav {
  min-width: 238px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: #353084;
}

@media (min-width: 992px) {
  .dashboard-app {
    margin-left: 238px;
  }

  .dashboard-compact .dashboard-app {
    margin-left: 0;
  }
}


@media (max-width: 768px) {
  .dashboard-content {
    padding: 15px 0px;
  }
}

@media (max-width: 992px) {
  .dashboard-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1070;
  }

  .dashboard-nav.mobile-show {
    display: block;
  }
}
/*   IKONY
-----------------------------------------
 */
.bi-person{
  color: navajowhite;
  float:left;
  font-size: 50px;
  margin-top: -12px;
}
.bi-person:hover{
  color:white;
}







