/* TABULKY
 --------------------------------------------
*/
table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
td{
  border-bottom: #F5F5F5 1px solid;
  width: 150px;
  color: white;
}
th{
  width: 150px;
  color: navajowhite;
  -webkit-transition: color 1s;
  transition: color 1s;
}
th:hover {
  color: white;
}
/* TEXTY
 --------------------------------------------
*/
h1{
  text-align: center;
  color: white;
  display: inline;
  letter-spacing: 3px;
}

h1:hover {
  color: white;
}

p{
  text-align: left;
  color: white;
  display:inline;
  letter-spacing: 3px;
  margin-bottom: 10px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

p:hover {
  color: white;
}

/* TLACIDLA
 --------------------------------------------
*/
button{
  display: block;
  font-weight: 700;
  font-size: 14px;
  width: 100px;
  height: 25px;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 1.5rem;
  background-color: navajowhite;
  transition: all .5s ease 0s;
  box-shadow: 0 6px black;
}

span{
  display: inline-block;
  color: #353084;
  position: relative;
  transition: all .5s ease;
}
.uprav::before,.vymaz::before{
  font-family: "Font Awesome 5 Free";
  color: #353084;
  font-weight: 900;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 1.5rem;
  opacity: 0;
  transition: all .1s ease 0s;
}

.uprav::before{
  content: '\f304';
}
.vymaz::before{
  content: '\f1f8';
}
button:hover{
  box-shadow: 0 6px white;

}
button:hover span{
  padding-left: 2rem;
}

button:hover span:before{
  left: 0;
  opacity: 1;
}

button:active {

  transform: translateY(5px);
}

/* LAYOUT
 --------------------------------------------
*/
.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 960px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-size: 35px;
}
nav {
  width: 960px;
  margin-right: 10px;
}

section {
  width: 960px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #D6C4EC;
  color: #FFF;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  margin-bottom: 10px;
  padding: 10px;
}

header {
  padding: 20px 0;
}
/* VSTUP - INPUTY
 --------------------------------------------
*/

input{
  height: 30px;
  width: 300px;
  font-size: 25px;
  margin: 10px;
  text-align: center;
  background-color: #D6C4EC;
  border: #D6C4EC 2px groove;
  color: #1F1431;
  margin-block: 50px;
  box-sizing: border-box;
}


input:hover{
  background-color: white;
}

mat-paginator{
  color: navajowhite;
  display: flex;
  justify-content: center;
}
::ng-deep .mat-paginator .mat-icon-button{
  background-color: navajowhite;
  color: #443ea2;
  margin: 2px;
}
