<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<section>

  <form [formGroup]="form">

    <table class="table">
      <tr>
        <td>
      <tr>
        <td><div class="group">
          <select>
            <option value=""></option>
            <option value="option1">1</option>
            <option value="option2">2</option>
            <option value="option3">3</option>
          </select>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>ID osoby</label>
        </div></td>
        <!--
            <label>ID osoby</label>
            <select>
              <option>Vyber osobu</option>
              <option value="option1">1</option>
              <option value="option2">2</option>
              <option value="option3">3</option>
            </select>
        </td>
        !-->
        <td><div class="group">
          <select>
            <option value=""></option>
            <option value="option1">1</option>
            <option value="option2">2</option>
            <option value="option3">3</option>
          </select>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>ID vakciny</label>
        </div></td>
        <td><button class="btn btn--action" (click)="pridaj()" *ngIf="form.value.id === null"><span class="pridaj">Pridaj</span></button>
          <button class="btn btn--action" (click)="uprav()" *ngIf="form.value.id !== null"><span class="uprav">Uprav</span></button><br>
          <button class="btn btn--action" (click)="zrus()"><span class="vymaz">Vymaž</span></button></td>
      </tr>
    </table>

  </form>

</section>
